## Capstone project

## Read in the new sample file with only 10 HCPCS code

In [2]:
from sklearn import linear_model
from sklearn.linear_model import LinearRegression, HuberRegressor
from sklearn.model_selection import GridSearchCV, cross_val_score, cross_val_predict, train_test_split
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
plt.style.use('ggplot')
%matplotlib inline

In [3]:
hcpcs10 = pd.read_csv('top10_hcpcs.csv', index_col=0)

# hcpcs10 = pd.read_csv('top10_hcpcs.csv', index_col=0)
# hcpcs10 = hcpcs10.reset_index()

C:\Users\aparn\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\aparn\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:568: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
pd.set_option("display.max_columns",500)
hcpcs10.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt,Total_submitted_chrg_amt,Total_Medicare_payment_amt
6,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99223,"Initial hospital inpatient care, typically 70 ...",N,114.0,110,114,206.061579,923.991228,160.377193,160.026316,105335.000000,18283.00
7,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99232,"Subsequent hospital inpatient care, typically ...",N,627.0,233,627,72.622456,326.245614,56.366730,57.047895,204556.000003,35341.94
8,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99233,"Subsequent hospital inpatient care, typically ...",N,207.0,127,207,106.653913,461.072464,82.820676,83.196039,95442.000000,17143.88
10,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99291,Critical care delivery critically ill or injur...,N,36.0,23,36,224.170000,1400.000000,175.750000,177.656667,50400.000000,6327.00
39,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,436233536,OH,US,Anesthesiology,Y,O,99213,Established patient office or other outpatient...,N,129.0,89,129,70.930000,109.000000,50.868062,53.268372,14061.000000,6561.98

In [5]:
hcpcs10.dtypes

npi                                   int64
nppes_provider_last_org_name         object
nppes_provider_first_name            object
nppes_provider_mi                    object
nppes_credentials                    object
nppes_provider_gender                object
nppes_entity_code                    object
nppes_provider_street1               object
nppes_provider_street2               object
nppes_provider_city                  object
nppes_provider_zip                   object
nppes_provider_state                 object
nppes_provider_country               object
provider_type                        object
medicare_participation_indicator     object
place_of_service                     object
hcpcs_code                           object
hcpcs_description                    object
hcpcs_drug_indicator                 object
line_srvc_cnt                       float64
bene_unique_cnt                       int64
bene_day_srvc_cnt                     int64
average_Medicare_allowed_amt        float64
average_submitted_chrg_amt          float64
average_Medicare_payment_amt        float64
average_Medicare_standard_amt       float64
Total_submitted_chrg_amt            float64
Total_Medicare_payment_amt          float64
dtype: object

In [9]:
hcpcs10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1520985 entries, 6 to 9847441
Data columns (total 28 columns):
npi                                 1520985 non-null int64
nppes_provider_last_org_name        1520959 non-null object
nppes_provider_first_name           1511915 non-null object
nppes_provider_mi                   1075160 non-null object
nppes_credentials                   1455318 non-null object
nppes_provider_gender               1511939 non-null object
nppes_entity_code                   1520985 non-null object
nppes_provider_street1              1520983 non-null object
nppes_provider_street2              632192 non-null object
nppes_provider_city                 1520985 non-null object
nppes_provider_zip                  1520985 non-null object
nppes_provider_state                1520985 non-null object
nppes_provider_country              1520985 non-null object
provider_type                       1520985 non-null object
medicare_participation_indicator    1520985 non-null object
place_of_service                    1520985 non-null object
hcpcs_code                          1520985 non-null object
hcpcs_description                   1520985 non-null object
hcpcs_drug_indicator                1520985 non-null object
line_srvc_cnt                       1520985 non-null float64
bene_unique_cnt                     1520985 non-null int64
bene_day_srvc_cnt                   1520985 non-null int64
average_Medicare_allowed_amt        1520985 non-null float64
average_submitted_chrg_amt          1520985 non-null float64
average_Medicare_payment_amt        1520985 non-null float64
average_Medicare_standard_amt       1520985 non-null float64
Total_submitted_chrg_amt            1520985 non-null float64
Total_Medicare_payment_amt          1520985 non-null float64
dtypes: float64(7), int64(3), object(18)
memory usage: 336.5+ MB

In [6]:
hcpcs10.columns[hcpcs10.isnull().any()].tolist()

['nppes_provider_last_org_name',
 'nppes_provider_first_name',
 'nppes_provider_mi',
 'nppes_credentials',
 'nppes_provider_gender',
 'nppes_provider_street1',
 'nppes_provider_street2']

In [7]:
## Get a count of the missings by column.

len(hcpcs10.index) - hcpcs10.count()

npi                                      0
nppes_provider_last_org_name            26
nppes_provider_first_name             9070
nppes_provider_mi                   445825
nppes_credentials                    65667
nppes_provider_gender                 9046
nppes_entity_code                        0
nppes_provider_street1                   2
nppes_provider_street2              888793
nppes_provider_city                      0
nppes_provider_zip                       0
nppes_provider_state                     0
nppes_provider_country                   0
provider_type                            0
medicare_participation_indicator         0
place_of_service                         0
hcpcs_code                               0
hcpcs_description                        0
hcpcs_drug_indicator                     0
line_srvc_cnt                            0
bene_unique_cnt                          0
bene_day_srvc_cnt                        0
average_Medicare_allowed_amt             0
average_submitted_chrg_amt               0
average_Medicare_payment_amt             0
average_Medicare_standard_amt            0
Total_submitted_chrg_amt                 0
Total_Medicare_payment_amt               0
dtype: int64

In [49]:
hcpcs10.loc[:,['hcpcs_code','hcpcs_description','line_srvc_cnt','average_submitted_chrg_amt','average_Medicare_payment_amt']]

,hcpcs_code,hcpcs_description,line_srvc_cnt,average_submitted_chrg_amt,average_Medicare_payment_amt
6,99223,"Initial hospital inpatient care, typically 70 ...",114.0,923.991228,160.377193
7,99232,"Subsequent hospital inpatient care, typically ...",627.0,326.245614,56.366730
8,99233,"Subsequent hospital inpatient care, typically ...",207.0,461.072464,82.820676
10,99291,Critical care delivery critically ill or injur...,36.0,1400.000000,175.750000
39,99213,Established patient office or other outpatient...,129.0,109.000000,50.868062
40,99214,Established patient office or other outpatient...,24.0,115.000000,58.658333
41,99214,Established patient office or other outpatient...,330.0,159.000000,73.218515
48,99223,"Initial hospital inpatient care, typically 70 ...",74.0,243.391892,149.435000
51,99232,"Subsequent hospital inpatient care, typically ...",241.0,150.000000,53.631328
52,99233,"Subsequent hospital inpatient care, typically ...",76.0,175.000000,78.250000
56,99213,Established patient office or other outpatient...,21.0,90.000000,49.309524
62,99213,Established patient office or other outpatient...,25.0,200.600000,34.876800
75,99213,Established patient office or other outpatient...,360.0,219.000000,48.301222
76,99214,Established patient office or other outpatient...,497.0,322.000000,68.094145
78,99223,"Initial hospital inpatient care, typically 70 ...",28.0,620.000000,149.353214
79,99232,"Subsequent hospital inpatient care, typically ...",83.0,221.000000,54.789398
80,99233,"Subsequent hospital inpatient care, typically ...",17.0,319.000000,83.330000
93,99213,Established patient office or other outpatient...,112.0,120.000000,50.076607
94,99214,Established patient office or other outpatient...,602.0,175.000000,75.517558
117,99213,Established patient office or other outpatient...,320.0,150.000000,50.444219
118,99214,Established patient office or other outpatient...,255.0,224.000000,70.698000
123,99232,"Subsequent hospital inpatient care, typically ...",18.0,155.000000,55.290000
139,99213,Established patient office or other outpatient...,25.0,119.000000,42.610400
152,99213,Established patient office or other outpatient...,480.0,136.000000,45.217625
153,99214,Established patient office or other outpatient...,155.0,203.000000,63.661226
180,99213,Established patient office or other outpatient...,29.0,95.000000,52.978966
181,99214,Established patient office or other outpatient...,542.0,145.000000,75.020203
184,99223,"Initial hospital inpatient care, typically 70 ...",59.0,267.000000,154.320000
186,99232,"Subsequent hospital inpatient care, typically ...",43.0,117.279070,55.090000
197,99213,Established patient office or other outpatient...,461.0,87.082430,56.700868
...,...,...,...,...,...
9847308,99232,"Subsequent hospital inpatient care, typically ...",23.0,104.000000,52.783043
9847312,99213,Established patient office or other outpatient...,24.0,75.000000,49.095417
9847327,99213,Established patient office or other outpatient...,469.0,85.000000,52.540682
9847335,99213,Established patient office or other outpatient...,75.0,58.000000,38.089600
9847339,99284,"Emergency department visit, problem of high se...",108.0,589.000000,85.715648
9847340,99285,"Emergency department visit, problem with signi...",203.0,878.000000,133.818227
9847341,99291,Critical care delivery critically ill or injur...,28.0,1013.000000,178.051429
9847347,99213,Established patient office or other outpatient...,761.0,209.000000,47.206583
9847348,99214,Established patient office or other outpatient...,276.0,309.000000,73.561920
9847354,99232,"Subsequent hospital inpatient care, typically ...",205.0,213.268293,55.606634
9847355,99233,"Subsequent hospital inpatient care, typically ...",896.0,304.000000,80.476038
9847371,99213,Established patient office or other outpatient...,27.0,144.340000,42.818519
9847372,99214,Established patient office or other outpatient...,175.0,219.824114,63.275543
9847378,99213,Established patient office or other outpatient...,116.0,143.137931,53.733879
9847386,99213,Established patient office or other outpatient...,3374.0,125.000000,56.280190
9847387,99214,Established patient office or other outpatient...,865.0,140.000000,84.029168
9847390,99223,"Initial hospital inpatient care, typically 70 ...",138.0,220.000000,167.280362
9847392,99232,"Subsequent hospital inpatient care, typically ...",767.0,90.000000,59.095698
9847400,99284,"Emergency department visit, problem of high se...",35.0,1144.342857,99.901714
9847401,99285,"Emergency department visit, problem with signi...",224.0,1775.571429,148.791562
9847402,99291,Critical care delivery critically ill or injur...,49.0,2041.081633,190.435714
9847409,99213,Established patient office or other outpatient...,484.0,153.481405,49.628202
9847410,99214,Established patient office or other outpatient...,293.0,225.604096,82.309898
9847417,99213,Established patient office or other outpatient...,37.0,183.000000,47.578378
9847418,99214,Established patient office or other outpatient...,177.0,272.000000,68.038870
9847437,99214,Established patient office or other outpatient...,103.0,198.000000,61.235146
9847438,99214,Established patient office or other outpatient...,248.0,345.000000,85.637177
9847439,99223,"Initial hospital inpatient care, typically 70 ...",41.0,496.000000,225.564634
9847440,99232,"Subsequent hospital inpatient care, typically ...",101.0,176.000000,83.200000
9847441,99233,"Subsequent hospital inpatient care, typically ...",102.0,254.000000,119.450784

In [30]:
# to get the fifrst 5 digits of zip code, first convert the zip code var to string. 

hcpcs10["nppes_provider_zip"]= hcpcs10["nppes_provider_zip"].astype(str)

In [31]:
# Now use string slicing to get the first five digits.

hcpcs10['prov_zip'] = hcpcs10.nppes_provider_zip.str.slice(0,5,1)

In [32]:
hcpcs10.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt,Total_submitted_chrg_amt,Total_Medicare_payment_amt,prov_zip
6,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99223,"Initial hospital inpatient care, typically 70 ...",N,114.0,110,114,206.061579,923.991228,160.377193,160.026316,105335.000000,18283.00,21502
7,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99232,"Subsequent hospital inpatient care, typically ...",N,627.0,233,627,72.622456,326.245614,56.366730,57.047895,204556.000003,35341.94,21502
8,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99233,"Subsequent hospital inpatient care, typically ...",N,207.0,127,207,106.653913,461.072464,82.820676,83.196039,95442.000000,17143.88,21502
10,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99291,Critical care delivery critically ill or injur...,N,36.0,23,36,224.170000,1400.000000,175.750000,177.656667,50400.000000,6327.00,21502
39,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,436233536,OH,US,Anesthesiology,Y,O,99213,Established patient office or other outpatient...,N,129.0,89,129,70.930000,109.000000,50.868062,53.268372,14061.000000,6561.98,43623

In [37]:
leie_m = pd.read_csv('LEIE_ALL_17_19.csv', dtype={'ZIP': object})

#leie_m = pd.read_csv('LEIE_ALL_17_19', index_col=0)

In [38]:
leie_m.head()

,LASTNAME,FIRSTNAME,MIDNAME,BUSNAME,GENERAL,SPECIALTY,UPIN,NPI,DOB,ADDRESS,CITY,STATE,ZIP,EXCLTYPE,EXCLDATE,REINDATE,WAIVERDATE,WVRSTATE,EXCLYEAR
0,NaN,NaN,,184TH STREET PHARMACY CORP,OTHER BUSINESS,PHARMACY,NaN,1922348218,NaN,69 E 184TH ST,BRONX,NY,10468,1128a1,2018-04-19,0,0,NaN,2018
1,NaN,NaN,,"716 TRANSPORTATION, INC",OTHER BUSINESS,TRANSPORTATION CO,NaN,0,NaN,540 VINE LANE,BUFFALO,NY,14228,1128a1,2019-06-20,0,0,NaN,2019
2,NaN,NaN,,A & H VITAMINS SUPPLY CORP,OTHER BUSINESS,PHARMACY,NaN,0,NaN,592 PALISADE AVENUE,TEANECK,NJ,7666,1128a1,2018-04-19,0,0,NaN,2018
3,NaN,NaN,,"A & Y MEDICAL SUPPLY, INC",DME COMPANY,DME - GENERAL,NaN,1942476080,NaN,"6310 108TH STREET, APT 6J",FOREST HILLS,NY,11375,1128b8,2017-05-18,0,0,NaN,2017
4,NaN,NaN,,"A FAIR DEAL PHARMACY, INC",OTHER BUSINESS,PHARMACY,NaN,1891731758,NaN,"C/O P O BOX 329014, #69709-05",BROOKLYN,NY,11232,1128b8,2017-05-18,0,0,NaN,2017

In [39]:
leie_m.dtypes

LASTNAME       object
FIRSTNAME      object
MIDNAME        object
BUSNAME        object
GENERAL        object
SPECIALTY      object
UPIN           object
NPI             int64
DOB           float64
ADDRESS        object
CITY           object
STATE          object
ZIP            object
EXCLTYPE       object
EXCLDATE       object
REINDATE        int64
WAIVERDATE      int64
WVRSTATE      float64
EXCLYEAR        int64
dtype: object

In [41]:
## Check the length of the zip code var. Create a variable that stores the length of each zip code and freq it.

leie_m['zip_len']=leie_m['ZIP'].str.len()

In [50]:
# Obtain the frequency counts

leie_m['zip_len'].value_counts()

5    7120
4     540
3      22
1       5
Name: zip_len, dtype: int64

In [44]:
## Since there are several that are not 5 digit codes, add leading zeros to them. NJ codes have leading zeros.
## This works for the 4 digit codes
## There are 27 that are 3 or 1 digit long. These are problems that we can drop if necessary.

leie_m['zip_new']= leie_m['ZIP'].apply(lambda x: x.zfill(5))

In [45]:
leie_m.head()

,LASTNAME,FIRSTNAME,MIDNAME,BUSNAME,GENERAL,SPECIALTY,UPIN,NPI,DOB,ADDRESS,CITY,STATE,ZIP,EXCLTYPE,EXCLDATE,REINDATE,WAIVERDATE,WVRSTATE,EXCLYEAR,zip_len,zip_new
0,NaN,NaN,,184TH STREET PHARMACY CORP,OTHER BUSINESS,PHARMACY,NaN,1922348218,NaN,69 E 184TH ST,BRONX,NY,10468,1128a1,2018-04-19,0,0,NaN,2018,5,10468
1,NaN,NaN,,"716 TRANSPORTATION, INC",OTHER BUSINESS,TRANSPORTATION CO,NaN,0,NaN,540 VINE LANE,BUFFALO,NY,14228,1128a1,2019-06-20,0,0,NaN,2019,5,14228
2,NaN,NaN,,A & H VITAMINS SUPPLY CORP,OTHER BUSINESS,PHARMACY,NaN,0,NaN,592 PALISADE AVENUE,TEANECK,NJ,7666,1128a1,2018-04-19,0,0,NaN,2018,4,07666
3,NaN,NaN,,"A & Y MEDICAL SUPPLY, INC",DME COMPANY,DME - GENERAL,NaN,1942476080,NaN,"6310 108TH STREET, APT 6J",FOREST HILLS,NY,11375,1128b8,2017-05-18,0,0,NaN,2017,5,11375
4,NaN,NaN,,"A FAIR DEAL PHARMACY, INC",OTHER BUSINESS,PHARMACY,NaN,1891731758,NaN,"C/O P O BOX 329014, #69709-05",BROOKLYN,NY,11232,1128b8,2017-05-18,0,0,NaN,2017,5,11232

In [48]:
leie_m.shape

(7687, 21)